.screen_odd
  color font-color-odd
  background back-color-odd
  h1
    color font-color-odd
  h2
    color font-color-odd
  a
    text-decoration none
    color back-color
    font-weight bold

.screen_even
  color font-color-even
  background back-color-even
  a
    text-decoration none
    color #ffffff
    font-weight bold
