font-color = #396c73
font-color2 = #497c83
font-color3 = #598c93
font-color4 = #699ca3
back-color = #40d0df

/* font coloring for odd and even page/screen parts */
font-color-odd = #000000
font-color-odd = font-color
back-color-odd = #ffffff
font-color-even = font-color
font-color-even = #ffffff
font-color-even = #000000
back-color-even = back-color
