body
  font-family 'Source Sans Pro', 'Archivo Narrow', sans-serif
  color font-color

a
  color #000000
  
.ordi-page-title
  padding 7rem 0 7rem 0
  margin headerbar-height 0 headerbar-height 0
  background-image linear-gradient(90deg, font-color 0, font-color4)
  clip-path polygon(100% 100%, 100% 0, -400% 0)

.ordi-page-title-img
  display block

.container
  padding 10px
  h1
    text-align center
  h2 
    text-align center
  h1::after
    content "";
    display block
    height 3px
    background font-color
    margin-top: 0.5rem
 
.ordi-pagepart
  padding-top headerbar-height
  z-index 100
  width 940px
  margin-left auto
  margin-right auto
  border-left 1px solid rgba(0,0,0,.1)
  border-right 1px solid rgba(0,0,0,.1)

.ordi-pagetop
  border-top 1px solid rgba(0,0,0,.1)
  
.ordi-pagebottom
  border-bottom 1px solid rgba(0,0,0,.1)

.hidden
  display none

.impressum
    text-align center

.impressum::before,
.impressum::after
    content "";
    display block
    height 3px
    background font-color

.container::after
    content ""

#sidebar
  color #ffffff
  background white
  padding-left 1.5rem
  padding-right 1rem
  ul
    font-decoration none
    list-style none
    padding-left: 0
  li
    margin-top: 1rem
  a
    color font-color
    text-decoration none
  a:hover,
  a:focus
    color font-color
    outline 0

.ordi-navbar-trigger
  font-size 2rem

#news
  li
    margin-left: 0.1rem
  .telnr
    display: inline-block

#team
    #teamlist 
        margin auto

    .teamtwomember
      display inline-block
      vertical-align top

    .teammember
        text-align center
        display inline-block
        vertical-align top
        p
            margin auto
            margin-top 0.83em
            margin-bottom 0.83em
            display block
            width 100%
            border none
            
     article.teammember
        margin 1em 0.5em 0 0.5em
        width calc((100% - 3em)/2)

     .portrait
       border 1px solid rgba(0,0,0,.1)
       padding 5px
       max-width: 205px

     .name
        font-size 1.2rem
     .job
        font-weight bold
        text-align center

#adresse 
    height 100%

    article 
        height 100%

    iframe 
        width 100%
        height calc(100% - 3.5em - 5.5em - 0.5em)

.version
  display block
  text-align center
  
.footer
  text-align center

.last
  margin-top 0px

