#titlepage {
    height: 100%;
    min-height: $chart_min_height;
    min-width: 100%;
    position: relative;
    text-align: center;

    .button {
        margin: auto;
        bottom: 3em;
        left: 0;
        right: 0;
        display: inline;

        #button {
            width: 4em;
            height: 4em;
        }

        #buttoncontainer {
            height: 64px;
        }
    }
}

// das Logo geht ueber die ganze seite
.logo img {
  width: 100%;
  margin-top: 6em;
}

// titel schrift
#title {
    margin: auto;
    width: 18em;
    display: inline;
   
    h1 {
    }
}
