@import 'colors.styl'
@import 'media_mixins.styl'
@import 'misc_mixins.styl'

@import 'headerbar.styl'
@import 'sidebar.styl'

@import 'basic.styl'
@import 'global.styl'

#adresse 
    height 100%

    article 
        height 100%

    iframe 
        width 100%
        height calc(100% - 3.5em - 5.5em - 0.5em)

    +mobile()
      iframe
        width 90%
