// Stylus
@import '../../node_modules/bootstrap-stylus/lib/bootstrap';

// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';

@import 'colors.styl'
@import 'misc_mixins.styl'

// Import Modules
@import '../_modules/link/link';
@import '../_modules/onepage/onepage';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

.yeogurt-info
  text-align center
  max-width 500px
  margin-left auto
  margin-right auto

.version
  font-size 14px
  font-family Menlo, Monaco, Consolas, "Courier New", monospace
  position absolute
  bottom 10px
  right 10px

.logo
  margin-top 15px

// Styling on warning for users on IE7 or below
.browsehappy
  text-align center
  margin 0
  background #fff8e2
  color #000
  padding 0.5em 0

// navigation bar
/* navbar */
.navbar-default {
    background-color: font-color;
    color: #40d0df;
}
/* Link colors */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    outline: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f8ffff;
    background-color: #40a0af;
    outline: 0;
}

// nicht sicher ob notwendig - sollte fuer alle gelten 
// beseitigt aber die problematik im menue nicht
a {
   outline: 0;
}

@import 'logo.styl'

@import 'sidebar.styl'

.container
    height 100%

    //font-family: "MuseoSans_Thin", Arial, sans-serif;
    h1
      @include margin-top-bottom(0)
      // 0.5 em + 50px
      padding-top 0.5em + 1.125em
      padding-bottom 0.2em
      text-align center

.chart_spacer
  height 5em

#wichtig {
    display: inline-flex;

    ul {
      list-style: none;
      -webkit-padding-start: 0px;
      margin: 0 0 0 0.5em;
      padding: 0em;
    }
}

// impressum
#impressum 
    #bar
        text-align right

h1 {
  //color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.8em;
  font-weight: 400;
  margin: 0;
  @include mobile {
    font-size: 1.8em;
  }
  @include smallmobile {
    font-size: 1.2em;
  }
}
h2 {
  font-size: 1.2em;
  font-weight: 600;
  @include mobile {
    font-size: 1.1em;
  }
  @include smallmobile {
    font-size: 1.1em;
  }
}
h3 {
  font-weight: 400;
  @include mobile {
    font-size: 1.1em;
  }
  @include smallmobile {
    font-size: 1.1em;
  }
}
