@import 'colors.styl'
@import 'media_mixins.styl'
@import 'misc_mixins.styl'

@import 'headerbar.styl'
@import 'sidebar.styl'

body
  font-family 'Source Sans Pro', 'Archivo Narrow', sans-serif
  color font-color

a
  color #000000
  
.ml-auto, 
.mx-auto
  margin-left auto

.mr-auto, 
.mx-auto
  margin-right auto

.top-0
  top 0

.nobox
  margin-top 0
  padding-top 0
  margin-left 0
  padding-left 0
  margin-right 0
  padding-right 0

.left-0
  left 0

.right-0
  right 0 

.flex
  display -webkit-box
  display -ms-flexbox
  display flex

.m0
  margin 0

.mt1
  margin-top 1rem

.p0
  padding 0

.items-center
  -webkit-box-align center
  -ms-flex-align center
  align-itmes center

.list-reset
  list-style none
  padding-left 0

.nowrap
  white-space nowrap

.fixed
  position fixed

.justify-center
  -webkit-box-pack center
  -ms-flex-pack center
  justify-content center

.ordi-page-title
  padding 7rem 0 7rem 0
  margin headerbar-height 0 headerbar-height 0
  background-image linear-gradient(90deg, font-color 0, font-color4)
  clip-path polygon(100% 100%, 100% 0, -400% 0)

.ordi-page-title-img
  display block

.container
  padding 10px
  h1
    text-align center
  h2 
    text-align center
  h1::after
    content "";
    display block
    height 3px
    background font-color
 
.ordi-pagepart
  padding-top headerbar-height
  z-index 100
  width 940px
  margin-left auto
  margin-right auto
  border-left 1px solid rgba(0,0,0,.1)
  border-right 1px solid rgba(0,0,0,.1)

.ordi-pagetop
  border-top 1px solid rgba(0,0,0,.1)
  
.ordi-pagebottom
  border-bottom 1px solid rgba(0,0,0,.1)

.hidden
  display none

.impressum
    text-align center

.impressum::before,
.impressum::after
    content "";
    display block
    height 3px
    background font-color

.container::after
    content ""

#sidebar
  color #ffffff
  background white
  padding-left 1.5rem
  padding-right 1rem
  ul
    font-decoration none
    list-style none
    padding-left: 0
  li
    margin-top: 1rem
  a
    color font-color
    text-decoration none
  a:hover,
  a:focus
    color font-color
    outline 0

.ordi-navbar-trigger
  font-size 2rem

#team
    #teamlist 
        margin auto

    .teamtwomember
      display inline-block
      vertical-align top

    .teammember
        text-align center
        display inline-block
        vertical-align top
        p
            margin auto
            margin-top 0.83em
            margin-bottom 0.83em
            display block
            width 100%
            border none
            
     article.teammember
        margin 1em 0.5em 0 0.5em
        width calc((100% - 3em)/2)

     .portrait
       border 1px solid rgba(0,0,0,.1)
       padding 5px
       max-width: 205px

     .name
        font-size 1.2rem
     .job
        font-weight bold
        text-align center

#adresse 
    height 100%

    article 
        height 100%

    iframe 
        width 100%
        height calc(100% - 3.5em - 5.5em - 0.5em)

    +mobile()
      iframe
        width 90%
