@import 'colors.styl'
@import 'media_mixins.styl'
@import 'misc_mixins.styl'

@import 'headerbar.styl'
@import 'sidebar.styl'

@import 'basic.styl'
@import 'global.styl'

.home,
.info
  text-align justify

.mainarticle
  h1
    font-size 1.5rem

.five
  font-size 2.0em

#adresse
    +mobile()
      iframe
        width 90%
    
    +tablet()
        #loclink
            display none

    +desktop()
        #loclink
            display none

.impfung
  display inline-block
  margin-right 2em

@media screen and (max-width: 1024px)
  .ordi-pagepart
    width 95%

@media screen and (min-width: 800px)
  .teamtwomember
    width 49.6%

@media screen and (max-width: 800px)
  .teamtwomember
    width 100%

@media screen and (min-width: 480px)
  .md-hide
    display none
  #telephone
    .md-hide
      display none

@media screen and (min-width: 1024px)
  .lg-hide
    display none
  #telephone 
    .lg-hide
      display none
  #news
    .lg-hide
      display none

@media screen and (min-width: 40rem) and (max-width: 52rem)
  .sm-hide
    display none

@media screen and (max-width: 1024px)
  .xs-hide
    display none
  #telephone
    .xs-hide
      display none
  #news
    .xs-hide
      display none


// * archivo-narrow-regular - latin *
@font-face 
  font-family 'Archivo Narrow'
  font-style normal
  font-weight 400
  src url('../fonts/archivo-narrow-v24-latin-regular.eot')
  src local(''),
       url('../fonts/archivo-narrow-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/archivo-narrow-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/archivo-narrow-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/archivo-narrow-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/archivo-narrow-v24-latin-regular.svg#ArchivoNarrow') format('svg'); /* Legacy iOS */

// source-sans-pro-regular - latin *
@font-face
  font-family 'Source Sans Pro'
  font-style normal
  font-weight 400
  src url('../fonts/source-sans-pro-v21-latin-regular.eot')
  src local(''),
       url('../fonts/source-sans-pro-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v21-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */


