@import 'colors.styl'
@import 'media_mixins.styl'
@import 'misc_mixins.styl'

@import 'headerbar.styl'
@import 'sidebar.styl'

@import 'basic.styl'
@import 'global.styl'

#adresse
    +mobile()
      iframe
        width 90%
    
    +tablet()
        #loclink
            display none

    +desktop()
        #loclink
            display none

@media screen and (max-width: 1024px)
  .ordi-pagepart
    width 95%

@media screen and (min-width: 800px)
  .teamtwomember
    width 49.6%

@media screen and (max-width: 800px)
  .teamtwomember
    width 100%

@media screen and (min-width: 480px)
  .md-hide
    display none

@media screen and (min-width: 1024px)
  .lg-hide
    display none

@media screen and (min-width: 40rem) and (max-width: 52rem)
  .sm-hide
    display none

@media screen and (max-width: 40rem)
  .xs-hide
    display none


