@import 'colors.styl'
@import 'misc_mixins.styl'

@import 'headerbar.styl'
@import 'sidebar.styl'

body
  font-family 'Source Sans Pro', 'Archivo Narrow', sans-serif
  color font-color

a
  color #000000
  
.ml-auto, 
.mx-auto
  margin-left auto

.mr-auto, 
.mx-auto
  margin-right auto

.top-0
  top 0

.nobox
  margin-top 0
  padding-top 0
  margin-left 0
  padding-left 0
  margin-right 0
  padding-right 0

.left-0
  left 0

.right-0
  right 0 

.flex
  display -webkit-box
  display -ms-flexbox
  display flex

.m0
  margin 0

.mt1
  margin-top 1rem

.p0
  padding 0

.items-center
  -webkit-box-align center
  -ms-flex-align center
  align-itmes center

.list-reset
  list-style none
  padding-left 0

.nowrap
  white-space nowrap

.fixed
  position fixed

.justify-center
  -webkit-box-pack center
  -ms-flex-pack center
  justify-content center

.ordi-page-title
  padding 7rem 0 7rem 0
  margin headerbar-height 0 headerbar-height 0
  background-image linear-gradient(90deg, font-color 0, font-color4)
  clip-path polygon(100% 100%, 100% 0, -400% 0)

.ordi-page-title-img
  display block

.container
  padding 10px
  h1
    text-align center
  h2 
    text-align center
  h1::after
    content "";
    display block
    height 3px
    background font-color
 
.ordi-pagepart
  padding-top headerbar-height
  z-index 100
  width 940px
  margin-left auto
  margin-right auto
  border-left 1px solid rgba(0,0,0,.1)
  border-right 1px solid rgba(0,0,0,.1)

.ordi-pagetop
  border-top 1px solid rgba(0,0,0,.1)
  
.ordi-pagebottom
  border-bottom 1px solid rgba(0,0,0,.1)

.hidden
  display none

.impressum
    text-align center

.impressum::before,
.impressum::after
    content "";
    display block
    height 3px
    background font-color

.container::after
    content ""

#sidebar
  color #ffffff
  background white 
  ul
    font-decoration none
    list-style none
    margin-left: 1rem
    padding-left: 0
  li
    margin-top: 0.5rem
  a
    color font-color
    text-decoration none
  a:hover,
  a:focus
    color font-color
    outline 0

#team
    #teamlist 
        margin auto

    .teamtwomember
      display inline-block
      vertical-align top

    .teammember
        text-align center
        display inline-block
        vertical-align top
        width 210px
        p
            margin auto
            margin-top 0.83em
            margin-bottom 0.83em
            display block
            width 100%
            border none
            
     article.teammember   
        margin-right 1em
        margin-top 1em

     .portrait
       border 1px solid rgba(0,0,0,.1)
       padding 5px

     .name
        font-size 1.2rem
     .job
        font-weight bold
        text-align center

#adresse {
    height: 100%;

    article {
        height: 100%;
    }

    iframe {
        width: 100%;
        height: calc(100% - 8.5em - 5.5em - 0.5em);  
    }
    @include mobile {
      iframe {
        width: 90%;
      }
    }
    @include tablet {
        #loclink {
            display: none;
        }
    }
    @include desktop {
        #loclink {
            display: none;
        }
    }
}

.version
  display block
  text-align center
  
.footer
  text-align center

@media screen and (max-width: 1024px)
  .ordi-pagepart
    width:95%

@media screen and (min-width: 480px)
  .md-hide
    display none

@media screen and (min-width: 1024px)
  .lg-hide
    display none

@media screen and (min-width: 40rem) and (max-width: 52rem)
  .sm-hide
    display none

@media screen and (max-width: 40rem)
  .xs-hide
    display none
