#timebar
    border 1px solid
    float right
    width 10em
    margin 0.5em
    padding-bottom 0.5em

    .openinfo 
      margin-top: 0.5em
      text-align: center

    .day
        margin-left 0.9em
        display inline-block
        width 2em
    
    .time 
        display inline-block

#opentimes
  display inline-block

#Ordinationszeiten 
  h2
    font-size 1.4em
    text-align center
    line-height 1.4em
    margin-top 0.5em
    margin-bottom 0.5em

#telephone
  padding-left 0.75em
  padding-top 0.5em
  p
    display inline-block
    margin-top-bottom(0)
    margin 0

  h2
    display inline-block
    text-align center
    margin-top-bottom(0)
    margin 0
    line-height 1.5em

  .telnr
    display block
    h2 
      letter-spacing 2px

  .faxnr
    display block
