#sidebar
    border 1px solid
    float right
    width 10em
    margin 0.5em
    padding-bottom 0.5em

    .openinfo 
      margin-top: 0.5em
      text-align: center

    .day
        margin-left 0.9em
        display inline-block
        width 2em
    
    .time 
        display inline-block
    
